# Ignore node_modules and environment files for both backend and frontend
node_modules/

# Ignore specific environment files for backend and frontend
backend/.env

frontend1/.env
frontend1/dist/

backend/node_modules/

frontend1/node_modules/

*.log
